<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<title>Melvor Theory App</title>

	<link rel='stylesheet' href='/assets/css/bootstrap.css'>
	<link rel='stylesheet' href='/assets/css/global.css'>
	<link rel='stylesheet' href='/bundle.css'>
	{{ 'buttons,svg-auth,app' |> cssIncludes }}
	{{ 'svg-icons'            |> cssIncludes |> svgFill('#41B883') }}	
</head>

<body>
	<i hidden>{{ '/js/hot-fileloader.js' |> ifDebugIncludeScript }}</i>

	<script src='/bundle.js'></script>
	<script src='/assets/js/jquery.slim.min.js'></script>
	<script src='/assets/js/bootstrap.min.js'></script>
</body>
</html>